//Text
.main-text
  clear: both
  font-size: 18px
  font-family: RobotoRegular

//Separator line
.separator-line
  background: url(../img/separator-line.png) no-repeat center
  height: 79px
  width: 100%
  margin: 30px 0

//Header
.header
  height: 130px
  background-color: $bg-block
  position: relative
  .header-nav-bar-left
    width: 40%
    float: left
  .header-nav
    font-family: PTSansNarrow
    font-size: 14px
    margin-top: 85px
    +clearfix
    li
      float: left
      margin: 0 0 0 9px
      display: block
      a
        text-transform: $text-transform
        color: $color-base
        padding: 3px 0
        border-bottom: 1px solid $color-base
        display: block
        &:hover
          text-decoration: none
      .active
        border-top: 2px solid #990000
        color: #990000
        margin-top: -2px
  .header-logo
    position: absolute
    left: 50%
    margin-left: -111px
    z-index: 100
  .header-nav-bar-right
    width: 40%
    float: right
    .header-nav
      margin-top: 85px
    .header-nav__right-list li:first-child
      margin-left: 0
    .schedule
      color: #999
      font-size: 14px
      font-family: RobotoRegular
      margin-top: 20px
      float: left
    .header-check
      color: #990000
      text-decoration: underline
      font-size: 14px
      font-family: RobotoCondensedBold
      float: right
      margin-top: 20px
  .header-nav__left-list
    float: right
.nav__social
  float: right
  margin-top: 15px
  +clearfix
  li
    float: left
    +border-radius(50%)
    background-color: $bg-social
    height: 30px
    width: 30px
    position: relative
    margin: 0 4px
    a
      position: absolute
      left: 50%
      top: 50%
      text-decoration: none
      color: $bg-block
      display: block
      font-size: 19px
    .fa-vk
      margin: -10px 0 0 -10px
    .fa-facebook
      margin: -9px 0 0 -6px
    .fa-instagram
      margin: -9px 0 0 -9px
    .fa-twitter
      margin: -8px 0 0 -10px

//Slider
.slider
  position: relative
  .go-to-down
    position: absolute
    height: 100px
    width: 100px
    background-color: $bg-block
    +border-radius(50%)
    left: 50%
    margin-left: -50px
    bottom: -50px
    cursor: pointer
    .go-to-down__nav
      font-size: 50px
      position: absolute
      top: 50%
      left: 50%
      margin: -23px 0 0 -26px

//Main
.main
  height: 100%
  background: url(../img/main-bg.jpg) repeat
  padding: 180px 0 55px 0
.main-blocks
  padding: 0 25px 40px 25px
  background-color: $bg-block
  .wrapp-check-online
    text-align: center
    margin-top: 40px
    .check-online
      margin: 0 auto
      font-size: 18px
      font-family: RobotoCondensedBold
      padding: 5px 10px
      border: 2px solid #990000
      color: #990000
      text-decoration: none
      text-transform: $text-transform
  .main-blocks__title
    font-size: 35px
    color: $color-base
    text-transform: $text-transform
    font-family: RobotoCondensedBold
    text-align: center
    padding: 30px 0 50px 0
    margin: 0
  .main-blocks__title-personal
    padding: 30px 0 0 0
  .main-blocks__title-desc
    font-size: 18px
    padding: 15px 0
  .main-blocks-left
    padding: 0
  .main-blocks-right
    padding: 0
    .main-blocks-right__row
      margin-top: 20px
.link-box
  position: relative
  .link-box__title
    font-size: 24px
    color: $bg-base
    font-family: RobotoCondensedBold
    text-shadow: 1px 3px 1px rgba(0,0,0,0.9)
    max-width: 350px
    text-align: center
    margin: 0 auto
    text-transform: $text-transform
.autobiography
  background: url(../img/main-links/autobiography.png) no-repeat
  background-size: contain
  height: 430px
  width: 570px
  margin: 0 auto
  .autobiography__title
    position: absolute
    bottom: 25px
    left: 50%
    margin-left: -175px
.history
  background: url(../img/main-links/history.png) no-repeat
  .history__title
    padding-top: 15px
    font-size: 18px
.ideas
  background: url(../img/main-links/ideas.png) no-repeat
  .ideas__title
    font-size: 18px
    position: absolute
    bottom: 25px
    left: 50%
    margin-left: -57px
.motivation
  background: url(../img/main-links/motivation.png) no-repeat
  .motivation__title
    font-size: 18px
    position: absolute
    bottom: 25px
    left: 50%
    margin-left: -44px
.people
  background: url(../img/main-links/people.png) no-repeat
  .people__title
    font-size: 18px
    position: absolute
    bottom: 25px
    left: 50%
    margin-left: -83px
.clothes
  background: url(../img/shop-enter/clothes.jpg) no-repeat
  height: 430px
.accessories-hair
  background: url(../img/shop-enter/accessories-hair.jpg) no-repeat
  height: 430px
.accessories
  background: url(../img/shop-enter/accessories.jpg) no-repeat
  margin-bottom: 22px
.shoes
  background: url(../img/shop-enter/shoes.jpg) no-repeat
.hand-made
  background: url(../img/shop-enter/hand-made.jpg) no-repeat
.instruments
  background: url(../img/shop-enter/instruments.jpg) no-repeat
.cosmetics
  background: url(../img/shop-enter/cosmetics.jpg) no-repeat
  height: 203px
.shop-enter-blocks__content
  background-size: contain
  height: 204px
.main-blocks__content
  background-size: contain
  height: 205px
  width: 270px
.overlay-img
  opacity: 0
  position: absolute
  left: 50%
  top: 50%
  margin: -55px 0 0 -55px
  @include transition(all 0.4s ease-in-out)
.overlay:hover .overlay-img
  opacity: 1
.link-box
  &:hover .overlay
    opacity: 1
    background-color: rgba(153,0,0,0.6)
  .overlay
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    overflow: hidden
    @include transition(all 0.4s ease-in-out)
    a
      height: 100%
      width: 100%
      display: block
.row-margin
  margin-bottom: 20px
  +clearfix

//Services
.haircut
  background: url(../img/services/1.jpg) no-repeat
  height: 430px
.greyness
  background: url(../img/services/2.jpg) no-repeat
  height: 204px
.royal-shave
  background: url(../img/services/3.jpg) no-repeat
  height: 204px
.laying
  background: url(../img/services/4.jpg) no-repeat
  height: 430px
.man-haircut
  background: url(../img/services/5.jpg) no-repeat
  height: 204px
.father-son
  background: url(../img/services/6.jpg) no-repeat
  height: 430px
.beard-grooming
  background: url(../img/services/7.jpg) no-repeat
  height: 204px
.make-tattoo
  background: url(../img/services/8.jpg) no-repeat
  height: 430px
.child-haircut
  background: url(../img/services/9.jpg) no-repeat
  height: 204px
.mowing-machine
  background: url(../img/services/10.jpg) no-repeat
  height: 204px

//Service post
.service-slider
  margin: 20px 0


//Barber masters & tattoo masters
.card-box
  li
    position: relative
    &:hover .bottom-menu
      height: 122px
      background-color: rgba(153,0,0,0.5)
      .bottom-menu__name:after
        display: none
    .bottom-menu
      position: absolute
      display: block
      width: 280px
      height: 80px
      bottom: 0
      background-color: rgba(15,77,124,0.5)
      text-align: center
      color: $bg-base
      text-shadow: 1px 3px 1px rgba(0,0,0,0.9)
      text-transform: $text-transform
      font-family: RobotoCondensedBold
      @include transition(all 0.4s ease-in-out)
      .bottom-menu__name
        font-size: 18px
        &:after
          content: ''
          display: block
          height: 1px
          width: 50px
          margin: 10px auto 0 auto
          background-color: $bg-base
      .bottom-menu__name-desc
        margin-bottom: 30px
      .bottom-menu__link
        color: $bg-base
        font-family: RobotoCondensedRegular
        font-size: 14px
        text-decoration: underline
      .bottom-menu__btn-buy
        color: $bg-base
        font-family: RobotoCondensedBold
        font-size: 24px
        display: block
        padding: 5px 15px
        background-color: #630000
        margin-top: -11px

//Page barbers & tattoo
.personal-pages
  margin-bottom: 15px
.row
  .enter-personal-page
    text-align: center
    background: url(../img/page-barber-masters/right-block-bg.jpg) no-repeat
    padding: 0
    height: 425px
    +transition(all 0.4s ease-in-out)
    &:hover
      background: url(../img/page-barber-masters/right-block-bg__hover.jpg) no-repeat
    &:hover .enter-personal-page__link
      display: block
  .enter-personal-page__title
    font-size: 18px
    color: #dfdfe2
    text-transform: $text-transform
    font-family: RobotoCondensedBold
    text-align: center
  .enter-personal-page__logo
    display: block
    margin: 60px auto
    background: url(../img/page-barber-masters/logo-gray.png) no-repeat
    height: 170px
    width: 170px
    background-size: contain
  .enter-personal-page__link
    color: #dfdfe2
    font-family: RobotoRegular
    font-size: 16px
    display: none
    text-decoration: underline
    
//Personal page
.personal-photo
  background: url(../img/personal-page-barber/personal-photo.jpg) no-repeat center
  height: 440px
  position: relative
  margin-top: 15px
  .personal-quote
    height: 50px
    position: absolute
    top: 50%
    right: 25px
    margin-top: -25px
    font-family: RobotoCondensedBold
    color: #dfdfe2
    text-transform: $text-transform
    float: right
    border: none
    margin-right: 25px
    font-size: 21px
.row-description
  padding: 0 40px
  margin-top: 15px
.personal-description
  background: url(../img/personal-page-barber/personal-description.jpg) repeat center
  padding: 15px
  .personal-description__text
    font-family: RobotoRegular
    font-size: 16px
    color: #dfdfe2
    margin-bottom: 15px
.lightSlider.lsGrab > *
  text-align: center

//Blog
.blog-post-container
  text-align: center
  margin-bottom: 15px
  position: relative
  .blog-post-container__text
    position: absolute
    right: 40px
    padding: 15px
    background-color: rgba(15,77,124,0.8)
    width: 46%
    top: 0
    height: 100%
    color: #dfdfe2
    .blog-post-container__text-title
      text-transform: $text-transform
      font-family: RobotoCondensedBold
      font-size: 24px
      text-shadow: 1px 1px 2px rgba(0,0,0,0.75)
      margin-top: 0
    p
      text-align: left
      font-size: 16px
      font-family: RobotoRegular
    .blog-post-container__text-link
      color: #dfdfe2
      text-transform: $text-transform
      font-family: RobotoCondensedBold
      text-decoration: underline
      position: absolute
      bottom: 20px
      right: 20px
      &:hover
        color: $bg-base

//Post
.post-container
  text-align: left
  font-size: 18px
  font-family: RobotoRegular
  padding: 0 40px
  .post-container-subtitle
    font-size: 20px
    text-transform: $text-transform
    text-align: center
    padding-top: 50px
  .post-container__nav
    margin-top: 50px
    li
      &:first-child
        float: left
      &:last-child
        float: right
      a
        text-transform: $text-transform
        color: rgba(153,0,0,0.6)
        font-size: 14px
        font-family: RobotoCondensed
        text-decoration: underline
        &:hover
          color: rgb(153,0,0)

//Mass media
.mass-media-container
  .mass-media-container__text
    right: 23px
    @include transition(all 0.4s ease-in-out)
    &:hover
      background-color: rgba(153,0,0,0.6)
.mass-media__label
  font-size: 18px
  text-transform: $text-transform
  margin-bottom: 10px
  display: block
  +clearfix

//Table price
.table-responsive
  font-size: 20px
  color: $color-base
  font-family: RobotoRegular
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
  a
    color: $color-base
.map-wrapp
  text-align: center

//Catalogue
.cart-label
  border: 2px solid #0f4d7c
  font-family: RobotoCondensedBold
  font-size: 18px
  text-transform: $text-transform
  color: $color-base
  padding: 15px
  p
    margin: 0
    span
      font-family: RobotoCondensedRegular
  .cart-label__wrapp
    &:before
      content: ''
      display: block
      float: left
      background: url(../img/icons-s393558560b.png) no-repeat
      background-position: 0 0
      width: 69px
      height: 60px
      margin: -6px 15px 0 0
.categories
  padding: 0 10px
  .categories-title
    font-size: 24px
    color: $color-base
    text-transform: $text-transform
    font-family: RobotoCondensedBold
    &:after
      content: ''
      display: block
      height: 2px
      width: 30px
      background-color: #990000
      margin-top: 10px
  .categories-nav
    &:after
      content: ''
      display: block
      height: 2px
      width: 140px
      background-color: $color-base
    li
      margin-top: 10px
      a
        font-family: RobotoCondensedRegular
        font-size: 18px
        color: $color-base
        text-transform: $text-transform
    li:last-child
      margin-bottom: 15px
.catalogue-content
  .catalogue-content__title
    font-size: 20px
    font-family: RobotoCondensedBold
    color: $color-base
    text-transform: $text-transform
    text-align: center
.other-goods__list
  +clearfix
  li
    float: left
    margin-right: 14px
    overflow: hidden
  li:last-child
    margin-right: 0
.panel
  .panel-heading
    padding: 0
  .panel-body
    padding: 0
  .filter-open
    display: block
    padding: 10px 15px
  .filter-open__list
    margin-bottom: 0
    li
      &:hover
        background-color: #6a8fab
      a
        padding: 10px
        color: #999999
        font-family: RobotoRegular
        font-size: 18px
        display: block
        &:hover
          text-decoration: none
          color: $bg-base
  .filter-open__size
    li a
      text-transform: $text-transform
  .filter-open__price
    li a
      text-transform: none

//Franchise
.video
  background-color: #ccc
  height: 430px
//Form
.request
  height: 220px
  +box-sizing(border-box)
  h3
    text-transform: $text-transform
    text-align: center
    font-family: RobotoCondensedBold
  input[type="text"]
    background: none
    outline: none
    border-bottom: 2px solid $bg-base
    padding: 5px 10px
    width: 100%
    margin-bottom: 10px
  .wrapp-check-online
    margin-top: 15px
    .btn-submit
      background-color: #a72d2d
      color: $bg-base
      padding: 5px 30px
//School
.school-prices
  font-family: RobotoRegular
  margin-bottom: 20px
  h4
    font-size: 20px
    text-transform: $text-transform
  .school-price
    display: block
    margin-left: 15px


input[type="text"]::-webkit-input-placeholder
  color: $base-placeholder-text
input[type="text"]::-moz-placeholder
  color: $base-placeholder-text
input[type="text"]:-moz-placeholder
  color: $base-placeholder-text
input[type="text"]:-ms-input-placeholder
  color: $base-placeholder-text
input[type="text"]::-webkit-input-placeholder
  opacity: 1
  transition: opacity 0.3s ease
input[type="text"]::-moz-placeholder
  opacity: 1
  transition: opacity 0.3s ease
input[type="text"]:-moz-placeholder
  opacity: 1
  transition: opacity 0.3s ease
input[type="text"]:-ms-input-placeholder
  opacity: 1
  transition: opacity 0.3s ease
input[type="text"]:focus::-webkit-input-placeholder
  opacity: 0
  transition: opacity 0.3s ease
input[type="text"]:focus::-moz-placeholder
  opacity: 0
  transition: opacity 0.3s ease
input[type="text"]:focus:-moz-placeholder
  opacity: 0
  transition: opacity 0.3s ease
input[type="text"]:focus:-ms-input-placeholder
  opacity: 0
  transition: opacity 0.3s ease


//Footer
.footer
  padding-top: 30px
  font-family: RobotoRegular
  font-size: 24px
  color: $color-base
  .footer-address
    &:before
      content: ''
      display: inline-block
      background: url(../img/icons-s393558560b.png) no-repeat
      background-position: 0 -81px
      height: 34px
      width: 27px
      margin-right: 10px
  .footer-schedule
    text-align: center
  a
    color: $color-base
    text-decoration: none
    &:hover
      text-decoration: none
      color: $color-base
  .contact-us
    text-align: center
  .contact-us li:first-child:before
    content: ''
    display: inline-block
    background: url(../img/icons-s393558560b.png) no-repeat
    background-position: 0 -115px
    height: 39px
    width: 36px
    margin: 0 10px -6px 0
  .contact-us li:nth-child(2)
    margin-left: 46px
  .contact-us li:nth-child(3):before
    content: ''
    display: inline-block
    background: url(../img/icons-s393558560b.png) no-repeat
    background-position: 0 -60px
    height: 21px
    width: 36px
    margin: 0 10px -2px 0
  .nav__social
    float: none
    margin: 0 110px
    li
      &:hover
        background-color: #990000
  .faq
    text-align: center
    margin-top: 15px
    a
      text-decoration: underline
  .footer-question
    display: block



